@font-face {
    font-family: pixel_font;
    src: url('../pixel_font.woff') format('woff');
}

* {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    font-family: pixel_font;
    font-size: 1.05 em;
    transition: .1s ease-in;
    image-rendering: pixelated;
}

body{
    background-image: url('../images/background3.png');
    background-repeat: repeat;
    background-size: 100px;
}

.bounding-box{
    display: flex;
    flex-direction: column;
    width: 900px;
    height: fit-content;
    margin: 10px auto;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    margin: auto;
}

#navbar img{
    image-rendering: pixelated;
    width: 361px;
    height: 63px;
}

#navbar img:hover{
    transform: translateY(3px);
}

#navbar ul{
    display: flex;
}

#navbar li{
    margin-right: 10px;
    transition: .1s ease-in;
    font-size: 2em;
}

#navbar li:hover{
    margin-right: 10px;
    transform: translateY(3px);
}

.hbox{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0px;
}

.about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    align-items: end;
}

.about div{
    background-color: plum;
    width: 200px;
    height: 100px;
    padding: 10px;
    justify-items: center;
    
    outline-style: ridge;
    outline-width: 5px;
}

#game-desc-box{
    background-color: plum;
    width: 500px;
    height: 500px;

    outline-style: ridge;
    outline-width: 5px;
}

.game-thumbnail-container{
    background-color: plum;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    padding: 20px;
    justify-content: center;
    align-items: center;

    outline-style: ridge;
    outline-width: 5px;outline-style: ridge;
    outline-width: 5px;
}

.game-thumbnail{
    background-color: black;
    width: 100px;
    height: 100px;
}

.game-thumbnail:hover{
    transform: translateY(3px);
}

.art-container{
    display: inline;
    text-align: center;

    width: 670px;
}

.art-container img{
    margin: 5px;
    outline-style: ridge;
    outline-width: 5px;outline-style: ridge;
    outline-width: 5px;

    transition: .1s ease-in;
}

.art-container img:hover{
    transform: translateY(3px);
}